*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing:border-box;
}
body{
    margin: 0 auto;
    width: 500px;
}

h1{
    text-align: center;
}

form{
    background-color: #b6b4b4;
    padding: 30px;
    border-radius: 3%;
}