*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
    width: 100%;
    margin: 0 auto;
    background-color: #1f1f1f; 
}
.container-header{
    background-color: #e70303;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 0px;
}
.nav-logo{
    padding-left: 50px;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-right: 50px;
}
.navbar ul li{
color: #fff;
font-size: 20px;
}

.container-main{
    display: flex;
}

.esquerdo{
    
    
}

.direito{
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card{
    /* width: 25%; */
    width: calc(25% - 20px); /* desconta o gap de margem/padding */
    box-sizing: border-box;
    background-color: #fff;
    color: red;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin: 10px;
}

.card img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
}
.card.content{
    word-wrap: break-word;
    overflow-wrap: break-word;
}
